<div class="tab">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <section class="section-padding post" itemprop="articleBody">
      <p>
        Working Experience:</br>
        2014.07 ~ Now SAP Consultant(Functional & Technical in Insurance Area)</br>
        </br>

        Professional Experience & Certications:</br>
        SAP Skills- BC400, ADM315, E2E100, EDW(BW305/BW310/BW330/BW350), Insurance Solution(FS-PM,FS-CM,FS-ICM,FS-CD,FS-RI,FS-BP), ABAP Silver & Gold, Data Migration(MWB)</br>
        Tech SKills- use of Git, Familiar with C++, etc</br>
        Certificates- PMP Project Management Certificate(5A)</br>
                      Japanese Language Proficiency Test Level N1</br>
                      Udacity Machine Learning Engineer Foundation</br>
                      JAVA certificate approved by IBM & Shanghai Labor Bureau</br>
        Competitions- 2018 2018阿里云全球区块链大赛  First Round 1/602 quarter-finalist</br>
                      2018 阿里巴巴大数据智能云上编程大赛 First Round 37/1022(Out) </br>
        </br>

        SAP Experience:</br>
        Internship in BW development team >> BW basic functions & BADI enhancement internal program (8 months)</br>
        SAMSUNG Life Insurance / Korea >> solution review and proposal for function gaps in FS-PM & FS-ICM (6 months 2014.05~2014.10)</br>
        MSIG Insurance / Singapore >> solution review and proposal for fuction gaps in FS-PM & FS-ICM (6 months 2014.07~2014.12)</br>
        NSL Life Insurance / Taiwan >> functional & techinical consulting, including all FS-ICM requirement collection, solution proposal, code implementation and data migration (4 years 2014.10~2018.09)</br>
        AnBang Insurance / China >> feasibility analysis in pre-sales phase for FS-ICM</br>
        NSIG Insurance / Taiwan >> technical support for overall analysis for FS-ICM</br>
        Taiping Insurance / China >> SAP FS-ICM techinical bidding documents preparation & IFRS17 S/4 Subledger demo technicial support</br>
        </br>

        Personal Info:</br>
        BS: Shanghai JiaoTong University, bachelor‘s degree with a double major in Computer Science and Business Administration</br>
        Citizenship: Shanghai, China </br>
        Language: Chinese & English & Japanese</br>
        Interests: Drawing & Music</br>



    </section>

  </article>
</div>
